services:
  - type: web
    name: yumee-server
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: waitress-serve --port=$PORT --threads=4 app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
